

button{
  font-size: 30px;
  border: none;
  border-radius: 15%;
  padding: 6px 8px;
  width: 100%;
  background-color: transparent;
  cursor: pointer;
    color:white ;

}
.card{
  border: 1px solid #4b5362;
  padding: 20px;
  margin: 10px;
  background-color: #53575f;
  border-radius: 10px;
  min-height: 100px;
  color:white ;
}